@page
@model lab_80_asp_core_web.Pages.UsingAModelModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<hr />
<hr />
<hr />

<style>
    div.block{
        width:70%;  /* note that can use 50vw as well */
        padding: 8vh 9vw;   /*  top right bottom left   */
        background-color:green;
        text-align:center;
        font-size:1.3em;  /* one 'em' means standard size text */
      /*  margin-left:15vw;  */
        margin:auto;
        margin-top:5vh;
    }
</style>

<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>

